/* You can add global styles to this file, and also import other style files */
$md: 768px;
$lg: 992px;
$header-height: 68px;
@mixin page-width() {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
    @media ( min-width: $lg ) {
        margin: 0 auto;
        width: $lg;
        .navbar-brand {
            padding-left: 0;
        }
    }
}
body {
    margin-top: $header-height;
}
.navbar .container {
    @include page-width();
    @media ( max-width: $md ) {
        .navbar-collapse {
            background-color: lightslategrey;
        }
    }
}
.page-content {
    @include page-width();
}